<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjz.mapper.HistoryMapper">
    <insert id="insertHistory">
        insert into history(username,addtime) values(#{username}, #{addtime})
    </insert>
    <update id="updateHistory">
        update history set lasttime=#{lasttime},loginNum=#{loginNum} where username=#{username}
    </update>
    <delete id="deleteOneHistory">
        delete from history where username=#{username}
    </delete>

    <select id="findAllHistory" resultType="History">
        select * from history
    </select>

    <select id="findHistoryByName" resultType="History">
        select * from history where username=#{username}
    </select>


</mapper>